.char1 {
  color : red;
  font-size: 3em;
  font-family: 'Press Start 2P', cursive;

}

.char2 {
  color : black;
  font-size: 3em;
  font-family: 'Black Ops One', cursive;


}
.char3 {
  color : red;
  font-size: 3em;
  font-family: 'Press Start 2P', cursive;


}
.char4 {
  color : black;
  font-size: 3em;
  font-family: 'Black Ops One', cursive;

}
.char5 {
  color : red;
  font-size: 3em;
  font-family: 'Press Start 2P', cursive;

}
.char6 {
  color : black;
  font-size: 3em;
  font-family: 'Black Ops One', cursive;

}
.char7 {
  color : red;
  font-size: 3em;
  font-family: 'Press Start 2P', cursive;

}
.char8 {
  color : black;
  font-size: 3em;
  font-family: 'Black Ops One', cursive;

}
.char9 {
  color : red;
  font-size: 3em;
  font-family: 'Press Start 2P', cursive;

}
.char10 {
  color : black;
  font-size: 3em;
  font-family: 'Black Ops One', cursive;

}
.char11 {
  color : red;
  font-size: 3em;
  font-family: 'Press Start 2P', cursive;

}
.char12 {
  color : black;
  font-size: 3em;
  font-family: 'Black Ops One', cursive;

}
.char13 {
  color : red;
  font-size: 3em;
  font-family: 'Press Start 2P', cursive;


}
.char14 {
  color : black;
  font-size: 3em;
  font-family: 'Black Ops One', cursive;


}
.char15 {
  color : red;
  font-size: 3em;
  font-family: 'Press Start 2P', cursive;


}
.char16 {
  color : black;
  font-size: 3em;
  font-family: 'Black Ops One', cursive;


}
.char17 {
  color : red;
  font-size: 3em;
  font-family: 'Press Start 2P', cursive;


}
.char18 {
  color : black;
  font-size: 3em;
  font-family: 'Black Ops One', cursive;


}
.char19 {
  color : red;
  font-size: 3em;
  font-family: 'Press Start 2P', cursive;



}
.char20 {
  color : black;
  font-size: 3em;
  font-family: 'Black Ops One', cursive;



}
.char21 {
  color : red;
  font-size: 3em;
  font-family: 'Press Start 2P', cursive;



}
