body{
  background-color: #56bbc1
}
h1{
  text-align: center;
}
.char1 {
  color : #f4987b;
  font-size: 4em;
  font-family: 'Karma', serif;

}

.char2 {
  color : #f4987b;
  font-size: 2em;
  font-family: 'Karma', serif;


}
.char3 {
  color : #f4987b;
  font-size: 2em;
  font-family: 'Karma', serif;


}
.char4 {
  color : #f4987b;
  font-size: 2em;
  font-family: 'Karma', serif;

}
.char5 {
  color : #f4987b;
  font-size: 2em;
  font-family: 'Karma', serif;

}
.char6 {
  color : #f4987b;
  font-size: 3em;
  font-family: 'Karma', serif;

}
.char7 {
  color : #f4987b;
  font-size: 2em;
  font-family: 'Karma', serif;

}
.char8 {
  color : #f4987b;
  font-size: 2em;
  font-family: 'Karma', serif;

}
.char9 {
  color : #f4987b;
  font-size: 3em;
  font-family: 'Karma', serif;

}
.char10 {
  color : #f4987b;
  font-size: 2em;
  font-family: 'Karma', serif;

}
.char11 {
  color : #f4987b;
  font-size: 2em;
  font-family: 'Karma', serif;

}
.char12 {
  color : #f4987b;
  font-size: 2em;
  font-family: 'Karma', serif;

}
.char13 {
  color : #f4987b;
  font-size: 2em;
  font-family: 'Karma', serif;


}
.char14 {
  color : #f4987b;
  font-size: 2em;
  font-family: 'Karma', serif;


}
.char15 {
  color : #f4987b;
  font-size: 3em;
  font-family: 'Karma', serif;


}
.char16 {
  color : #f4987b;
  font-size: 2em;
  font-family: 'Karma', serif;


}
.char17 {
  color : #f4987b;
  font-size: 2em;
  font-family: 'Karma', serif;


}
.char18 {
  color : #f4987b;
  font-size: 2em;
  font-family: 'Karma', serif;


}
.char19 {
  color : #f4987b;
  font-size: 2em;
  font-family: 'Karma', serif;



}
.char20 {
  color : #f4987b;
  font-size: 2em;
  font-family: 'Karma', serif;



}
.char21 {
  color : #f4987b;
  font-size: 2em;
  font-family: 'Karma', serif;
}
.gallery {
display: flex;
  justify-content: center;
  align-items: center;
}

img {
  border: 1px solid #f4987b; /* Gray border */
  border-radius: 4px;  /* Rounded border */
  padding: 5px; /* Some padding */
  width: 150px; /* Set a small width */
}
img:hover {
  box-shadow : 0 0 2px 1px rgba(0,140,186,0.5);
}

.thumb {
display: flex;
justify-content: space-around;
flex-wrap: wrap;
text-align: center;

}
