.char1 {
  color : red;
  font-size: 6em;
  font-family: 'Press Start 2P', cursive;

}

.char2 {
  color : pink;
  font-size: 1,5em;
  font-family: 'Megrim', cursive;

}
.char3 {
  color : green;
  font-size: 4em;
  font-family: 'Fontdiner Swanky', cursive;

}
.char4 {
  color : black;
  font-size: 3em;
  font-family: 'Black Ops One', cursive;

}
.char5 {
  color : red;
  font-size: 7em;
  font-family: 'Shojumaru', cursive;

}
.char6 {
  color : red;
  font-size: 2em;
  font-family: 'Freckle Face', cursive;

}
.char7 {
  color : pink;
  font-size: 4,5em;
  font-family: 'Frijole', cursive;

}
.char8 {
  color : blue;
  font-size: 2em;
  font-family: 'Fontdiner Swanky', cursive;

}
.char9 {
  color : red;
  font-size: 6em;
  font-family: 'Shojumaru', cursive;

}
.char10 {
  color : brown;
  font-size: 7em;
  font-family: 'Press Start 2P', cursive;

}
.char11 {
  color : green;
  font-size: 4em;
  font-family: 'Megrim', cursive;

}
.char12 {
  color : red;
  font-size: 2em;
  font-family: 'Freckle Face', cursive;

}
.char13 {
  color : violet;
  font-size: 1,2em;
  font-family: 'Frijole', cursive;


}
.char14 {
  color : blue;
  font-size: 4em;
  font-family: 'UnifrakturMaguntia', cursive;


}
.char15 {
  color : yellow;
  font-size: 3,4em;
  font-family: 'Sancreek', cursive;


}
.char16 {
  color : violet;
  font-size: 9em;
    font-family: 'Shojumaru', cursive;


}
.char17 {
  color : brown;
  font-size: 3em;
  font-family: 'Sancreek', cursive;


}
.char18 {
  color : blue;
  font-size: 7em;
  font-family: 'UnifrakturMaguntia', cursive;


}
.char19 {
  color : red;
  font-size: 5,5em;
  font-family: 'Press Start 2P', cursive;



}
.char20 {
  color : yellow;
  font-size: 2,2em;
  font-family: 'Megrim', cursive;



}
.char21 {
  color : black;
  font-size: 4em;
  font-family: 'Freckle Face', cursive;



}
